<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Dope - Creative Multipurpose HTML Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet">

    <!--
CSS
============================================= -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Ajout de VueJS-->

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

</head>

<body>
    <main id="app">
        <!-- Start header section -->
    <header class="header-area" id="header-area">
        <div class="dope-nav-container breakpoint-off">
            <div class="container">
                <div class="row">
                    <!-- dope Menu -->
                    <nav class="dope-navbar justify-content-between" id="dopeNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html">
                            <img src="img/logo.png" alt="">
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="dope-navbar-toggler">
                            <span class="navbarToggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>

                        <!-- Menu -->
                        <div class="dope-menu">

                            <!-- close btn -->
                            <div class="dopecloseIcon">
                                <div class="cross-wrap">
                                    <span class="top"></span>
                                    <span class="bottom"></span>
                                </div>
                            </div>

                            <!-- Nav Start -->
                            <div class="dopenav">
                                <ul id="nav">
                                    <li>
                                        <a href="index.html#banner-section">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="index.html#section-portfolio">Projets</a>
                                    </li>
                                    <li>
                                        <a href="index.html#section-screenshots">Screenshots</a>
                                    </li>
                                    <li>
                                        <a href="index.html#section-faq">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="index.html#testimonial-section">Avis</a>
                                    </li>
                                    <li>
                                        <a @click="mainLink" class="pointerElement">Blog</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Start header section -->

    <!-- Start page-top-banner section -->
    <section class="page-top-banner section-gap-full relative" data-stellar-background-ratio="0.5">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row section-gap-half">
                <div class="col-lg-12 text-center">
                    <template v-if="!inPageArticle">
                        <h1>Articles</h1>
                        <h4>Nos articles les plus récents</h4>
                    </template>
                    <template v-else>
                        <h1>Articles de blog</h1>
                        <h4>Détails sur l'un de nos articles</h4>
                    </template>

                </div>
            </div>
        </div>
    </section>
    <!-- End about-top-banner section -->

    <!-- Start blog-lists section -->
    <section class="blog-lists-section section-gap-full">
        <div class="container">
            <div class="row">
                <div v-if="!inPageArticle" class="col-lg-8">
                    <div class="blog-lists">
                        <div v-for="(article, i) in articles.data" class="single-blog-post">
                            <div class="post-thumb relative">
                                <div class="overlay overlay-bg"></div>
                                <img class="img-fluid" :src="article.img" alt="">
                            </div>
                            <div class="post-details">
                                <ul class="tags">
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Music</a></li>
                                </ul>
                                <a @click="showArticle(i)" class="pointerElement">
                                    <h1>{{ article.title }}</h1>
                                </a>
                                <p>
                                    Received shutters expenses ye he pleasant. Drift as blind above at up. No up simple
                                    county stairs do should praise as. Drawings sir gay together landlord had law
                                    smallest. Formerly welcomed attended declared met say unlocked. Jennings outlived
                                    no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be
                                    as it curiosity departure ourselves.
                                </p>
                                <div class="user-details d-flex align-items-center">
                                    <div class="user-img">
                                        <img src="img/avatar1.jpg" alt="">
                                    </div>
                                    <div class="details">
                                        <a href="#">
                                            <h4>Phil Martinez</h4>
                                        </a>
                                        <p>April 15,2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="ti ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="ti ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div v-else class="col-lg-8">
                    <div class="blog-details">
                        <div class="post-thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" :src="currentArticle.img" alt="">
                        </div>
                        <div class="post-details">
                            <ul class="tags">
                                <li><a href="#">Learn</a></li>
                                <li><a href="#">Dream</a></li>
                            </ul>
                            <a href="single-blog.html">
                                <h1>{{ currentArticle.title }}</h1>
                            </a>
                            <p>
                                Received shutters expenses ye he pleasant. Drift as blind above at up. No up simple
                                county stairs do should praise as. Drawings sir gay together landlord had law
                                smallest. Formerly welcomed attended declared met say unlocked. Jennings outlived
                                no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be
                                as it curiosity departure ourselves.
                            </p>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt
                                mollitia animi, id est laborum et dolorum fuga.
                            </p>
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod teminc ididunt ut labore et dolore.Lorem ipsum
                                    dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod temporSed ut perspiciatis unde omnis natus error sit voluptatem accusantium
                                    doloremque laudantium.</p>
                            </blockquote>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt.

                                On the other hand, we denounce with righteous indignation and dislike men who are so
                                beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                                that they cannot foresee the pain and trouble that are bound to ensue; and equal blame
                                belongs to those who fail in their duty through weakness
                            </p>
                        </div>
                    </div>
                    <div class="comment-wrap">
                        <h3>Commentaires</h3>
                        <div class="media comments">
                            <img class="mr-3" src="img/blog/avatar1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Alen Doe</h5>
                                <p>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                    fringilla.
                                    Donec lacinia congue felis in faucibus.
                                </p>
                                <div class="comment-buttons">
                                    <a href="#" class="primary-btn black-btn">Répondre</a>
                                </div>
                                <div class="media mt-3 replay-comment">
                                    <a class="pr-3" href="#">
                                        <img src="img/blog/avatar2.jpg" alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Justin Doe</h5>
                                        <p>
                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                            ante sollicitudin. Cras purus odio, vestibulum in
                                            vulputate at, tempus viverra turpis.
                                        </p>
                                        <div class="comment-buttons">
                                            <a href="#" class="primary-btn black-btn">Répondre</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media comments">
                            <img class="mr-3" src="img/blog/avatar3.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Jon Doe</h5>
                                <p>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                    fringilla.
                                    Donec lacinia congue felis in faucibus.
                                </p>
                                <div class="comment-buttons">
                                    <a href="#" class="primary-btn black-btn">Répondre</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-form">
                        <h3>Votre commentaire</h3>
                        <div class="row form-col-wrap">
                            <div class="col-lg-6 form-cols">
                                <input type="text" class="form-control" placeholder="Nom"  onfocus="this.placeholder=''" onblur="this.placeholder='Name*'">
                            </div>
                            <div class="col-lg-6 form-cols">
                                <input type="email" class="form-control" placeholder="Email"  onfocus="this.placeholder=''" onblur="this.placeholder='Email*'">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea name="comment" class="form-control" placeholder="Commentaire" cols="30" rows="10" onfocus="this.placeholder=''" onblur="this.placeholder='Comment*'"></textarea>
                                <a href="#" class="primary-btn">Envoyer</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="sidebar-wrap">
                        <div class="single-widget search-widget">
                            <h4 class="widget-title">Rechercher ici</h4>
                            <div class="sidebar-form">
                                <form action="#" class="relative">
                                    <input type="text" placeholder="Recherche..." onfocus="this.placeholder=''" onblur="this.placeholder='Search'">
                                    <button type="submit">
                                        <i class="ti-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="single-widget social-widget">
                            <h4 class="widget-title">Réseaux sociaux</h4>
                            <ul>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="single-widget banner-widget">
                            <img class="img-fluid" src="img/banner.jpg" alt="">
                        </div>
                        <div class="single-widget tags-widget">
                            <h4 class="widget-title">Catégories</h4>
                            <ul>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Gadget</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Gaming</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog-lists section -->

    </main>

    <div class="scroll-top">
        <i class="ti-angle-up"></i>
    </div>

    <!--
JS
============================================= -->
    <script src="js/vuejs/blog.js"></script>
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.parallax-scroll.js"></script>
    <script src="js/dopeNav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/main.js"></script>

    
</body>

</html>