<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Dope - Creative Multipurpose HTML Template</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700" rel="stylesheet">

    <!-- CSS ============================================= -->

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">


    <!-- Ajout de Vue JS -->

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>

</head>

<body>
    <main id="app">

        <!-- Start header section -->
        <header class="header-area" id="header-area">
            <div class="dope-nav-container breakpoint-off">
                <div class="container">
                    <div class="row">
                        <!-- dope Menu -->
                        <nav class="dope-navbar justify-content-between" id="dopeNav">

                            <!-- Logo -->
                            <a class="nav-brand" href="index.html">
                                <img src="img/logo.png" alt="">
                            </a>

                            <!-- Navbar Toggler -->
                            <div class="dope-navbar-toggler">
                                <span class="navbarToggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>

                            <!-- Menu -->
                            <div class="dope-menu">

                                <!-- close btn -->
                                <div class="dopecloseIcon">
                                    <div class="cross-wrap">
                                        <span class="top"></span>
                                        <span class="bottom"></span>
                                    </div>
                                </div>

                                <!-- Nav Start -->
                                <div class="dopenav">
                                    <ul id="nav">
                                        <li>
                                            <a @click="linkHome" href="#banner-section">Accueil</a>
                                        </li>
                                        <li>
                                            <a @click="linkHome" href="#section-portfolio">Projets</a>
                                        </li>
                                        <li>
                                            <a @click="linkHome" href="#section-screenshots">Screenshots</a>
                                        </li>
                                        <li>
                                            <a @click="linkHome" href="#section-faq">FAQ</a>
                                        </li>
                                        <li>
                                            <a @click="linkHome" href="#testimonial-section">Avis</a>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog</a>
                                        </li>
                                    </ul>

                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Start header section -->


        <template v-if="!inPageProduct">

        <!-- Start banner section -->
        <section class="banner-section relative section-gap-full" id="banner-section">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 banner-left">
                        <h1 class="text-uppercase">Voici une web app</h1>
                        <p>Nous nous servirons de ce template en guise d'exercice pour implémenter et utiliser Vue.js. Le ZIP de ce template (avec et sans JS) est disponible dans la première section "Projet" de la formation.</p>
                        <!--a class="video-btn primary-btn" href="about-us.html">About More</a-->
                    </div>
                    <div class="col-md-6 banner-right text-center">
                        <img class="img-fluid" src="img/screen1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="wave">
                <svg class="nectar-shape-divider" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300"
                    preserveAspectRatio="none">
                    <path d="M 1000 299 l 2 -279 c -155 -36 -310 135 -415 164 c -102.64 28.35 -149 -32 -232 -31 c -80 1 -142 53 -229 80 c -65.54 20.34 -101 15 -126 11.61 v 54.39 z"></path>
                    <path d="M 1000 286 l 2 -252 c -157 -43 -302 144 -405 178 c -101.11 33.38 -159 -47 -242 -46 c -80 1 -145.09 54.07 -229 87 c -65.21 25.59 -104.07 16.72 -126 10.61 v 22.39 z"></path>
                    <path d="M 1000 300 l 1 -230.29 c -217 -12.71 -300.47 129.15 -404 156.29 c -103 27 -174 -30 -257 -29 c -80 1 -130.09 37.07 -214 70 c -61.23 24 -108 15.61 -126 10.61 v 22.39 z"></path>
                </svg>
            </div>
        </section>
        <!-- End banner section -->

        <!-- Start portfolio section -->
        <section class="portfolio-section section-gap-full" id="section-portfolio">
            <div class="container">
                <div class="section-title">
                    <h2 class="text-center">Nos produits</h2>
                    <p class="text-center">Quelques produits de notre conception</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="row">
                            <div v-for="(product, i) in products.data" v-if="i < 3" class="cl" :class="i == 2 ? 'col-lg-12' : 'col-lg-6'">
                                <div class="single-portfolio">
                                    <img alt="" class="img-fluid" :src="product.img">
                                    <div class="box-content">
                                        <a class="pointerElement" @click="showProduct(i)">
                                            <h5 class="title">{{ product.name }}</h5>
                                        </a>
                                        <span class="post">Produit {{ i + 1 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                                <div v-for="(product, i) in products.data" v-if="i >= 3" class="col-lg-12 cl">
                                        <div class="single-portfolio">
                                            <img alt="" class="img-fluid" :src="product.img">
                                            <div class="box-content">
                                                <a class="pointerElement" @click="showProduct(i)">
                                                    <h5 class="title">{{ product.name }}</h5>
                                                </a>
                                                <span class="post">Produit {{ i + 1 }}</span>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End portfolio section -->

        <!-- Start screenshot section -->
        <section class="screenshot-section section-gap-full" id="section-screenshots">
            <div class="container">
                <div class="section-title">
                    <h2 class="text-center">Screenshots de notre app</h2>
                </div>
                <div class="row">
                    <div class="screenshot_slider owl-carousel" id="screenshot-carusel">
                        <div v-for= "n in 7" class= "item">
                            <img :src="'img/screen/screen' + n + '.jpg'" alt="" title="">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End screenshot section -->

        <!-- Start faq section -->
        <section class="home-faq-section faq-section" id="section-faq">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-4">
                        <h2>F.A.Q.</h2>
                        <p>
                            Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperi.
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est voluptatibus, tempora odio dicta
                            molestiae recusandae delectus perferendis eveniet aspernatur voluptatum earum dolore
                            necessitatibus odit perspiciatis eos, quidem soluta autem esse.
                        </p>
                    </div>
                    <div class="col-lg-7">
                        <dl class="accordion">
                            <template v-for="(question, i) in faq.questions">
                                <dt @click="faq.currentQuestion = i" class="pointerElement">
                                   <a :class="{active: faq.currentQuestion == i}">{{ question.sentence }}</a>
                                </dt>
                                <dd :class="{active: faq.currentQuestion == i}">{{ question.answer }}</dd>    
                            </template>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
        <!-- End faq section -->

        <!-- Start testimonial section -->
        <section class="testimonial-section section-gap-full" id="testimonial-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 testimonial-left">
                        <h2>Avis sur nos produits</h2>
                        <p>
                            Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperi.
                        </p>
                    </div>
                    <div class="col-lg-8 testimonial-right">
                        <div class="testimonial-carusel owl-carousel" id="testimonial-carusel">
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar1.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Alice Johnson</h4>
                                        <p>Business Development</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar2.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Amber Mcdonald</h4>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar3.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Rhonda Barnes</h4>
                                        <p>UI/UX Designer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar1.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Alice Johnson</h4>
                                        <p>Business Development</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar2.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Amber Mcdonald</h4>
                                        <p>Web Developer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single-testimonial item">
                                <p>
                                    “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                                                    laudantium, totam rem aperiam.”
                                </p>
                                <div class="user-details d-flex flex-row align-items-center">
                                    <div class="img-wrap">
                                        <img alt="" src="img/avatar3.jpg">
                                    </div>
                                    <div class="details">
                                        <h4>Rhonda Barnes</h4>
                                        <p>UI/UX Designer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End testimonial section -->

        <!-- Start download section -->
        <section class="download-section section-gap-full">
            <div class="container">
                <div class="row download-wrap justify-items-between align-items-center">
                    <div class="col-lg-6">
                        <h1>Télécharger notre app !</h1>
                        <p>
                            Notre application est payante et nous sommes très fiers qu'Apple et Google se permettent de prendre 30% de chaque paiement.
                        </p>
                    </div>
                    <div class="col-lg-6 dload-btn">
                        <a href="#" class="primary-btn">
                            <span>Google Play</span>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50"
                                style="fill:#fff">
                                <g id="surface1">
                                    <path style=" " d="M 7.125 2 L 28.78125 23.5 L 34.71875 17.5625 L 8.46875 2.40625 C 8.03125 2.152344 7.5625 2.011719 7.125 2 Z M 5.3125 3 C 5.117188 3.347656 5 3.757813 5 4.21875 L 5 46 C 5 46.335938 5.070313 46.636719 5.1875 46.90625 L 27.34375 24.90625 Z M 36.53125 18.59375 L 30.1875 24.90625 L 36.53125 31.1875 L 44.28125 26.75 C 45.382813 26.113281 45.539063 25.304688 45.53125 24.875 C 45.519531 24.164063 45.070313 23.5 44.3125 23.09375 C 43.652344 22.738281 38.75 19.882813 36.53125 18.59375 Z M 28.78125 26.3125 L 6.9375 47.96875 C 7.300781 47.949219 7.695313 47.871094 8.0625 47.65625 C 8.917969 47.160156 26.21875 37.15625 26.21875 37.15625 L 34.75 32.25 Z "></path>
                                </g>
                            </svg>
                        </a>
                        <a href="#" class="primary-btn">
                            <span>App Store</span>
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 30 30"
                                style="fill:#fff;">
                                <path d="M25.565,9.785c-0.123,0.077-3.051,1.702-3.051,5.305c0.138,4.109,3.695,5.55,3.756,5.55 c-0.061,0.077-0.537,1.963-1.947,3.94C23.204,26.283,21.962,28,20.076,28c-1.794,0-2.438-1.135-4.508-1.135 c-2.223,0-2.852,1.135-4.554,1.135c-1.886,0-3.22-1.809-4.4-3.496c-1.533-2.208-2.836-5.673-2.882-9 c-0.031-1.763,0.307-3.496,1.165-4.968c1.211-2.055,3.373-3.45,5.734-3.496c1.809-0.061,3.419,1.242,4.523,1.242 c1.058,0,3.036-1.242,5.274-1.242C21.394,7.041,23.97,7.332,25.565,9.785z M15.001,6.688c-0.322-1.61,0.567-3.22,1.395-4.247 c1.058-1.242,2.729-2.085,4.17-2.085c0.092,1.61-0.491,3.189-1.533,4.339C18.098,5.937,16.488,6.872,15.001,6.688z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    <!-- End download section -->

    </template>

        <template v-else>

            <!-- Start page-top-banner section -->
    <section class="page-top-banner section-gap-full relative" data-stellar-background-ratio="0.5">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row section-gap-half">
                <div class="col-lg-12 text-center">
                    <h1>{{ currentProduct.name }}</h1>
                    <h4>product</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End about-top-banner section -->

    <!-- Start product-detials section -->
    <section class="product-detials-section section-gap-full">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 details-left">
                    <img class="img-fluid" :src="currentProduct.img" alt="">
                </div>
                <div class="col-lg-4 details-right">
                    <ul>
                        <li><span>Client:</span> {{ currentProduct.client }}</li>
                        <li><span>Category:</span> {{ currentProduct.categories.join(', ') }}</li>
                        <li><span>Visit:</span> {{currentProduct.visit }}</li>
                        <li><span>Date:</span> {{ currentProduct.date }}</li>
                    </ul>
                    <p>                  
                        To shewing another demands to. Marianne property cheerful informed at striking at.
                    </p>
                    <p>
                        Received shutters expenses ye he pleasant. Drift as blind above at up. No up simple county stairs do should praise as. Drawings sir gay together landlord had law smallest. Formerly welcomed attended declared met say unlocked. Jennings outlived no dwelling denoting in peculiar.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End product-detials section -->

        </template>

    </main>
    <div class="scroll-top">
        <i class="ti-angle-up"></i>
    </div>

    <!--
JS
============================================= -->
    <script src="js/vuejs/home.js"></script>
    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.parallax-scroll.js"></script>
    <script src="js/dopeNav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>