<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>

<label>Nom : </label>
<input type="text" id="nom" />
<label>Prenom : </label>
<input type="text" id="prenom" />
<script>
const inputNom = $("#nom");
const inputPrenom = $("#prenom");

inputNom.css("background-color", "red");
inputPrenom.css("background-color","orange");
</script>