<!-- <button onclick="tableDe3()">Table de 3</button>
<div>Cliquez sur le bouton pour afficher la table de multipliaction de 3</div>
<script src="ex14.js"></script> -->

<button>Table de 3</button>
<div>Cliquez sur le bouton pour afficher la table de multiplication de 3</div>
<script src="ex14.js"></script>