<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>

<button>pile ou face</button>
<div>Cliquez sur le bouton</div>
<script src="ex15JQuery.js"></script>